@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

body {
  font-family: "Nunito Sans", sans-serif;
}

header {
  background-image: url(../images/header-background.svg);
}

.second-navbar {
  background-color: #0057b2;
}

.navbar-custom {
  margin-top: 68px;
}

.hero-text h1 {
  font-weight: 700;
  font-size: 56px;
  line-height: 64px;
}

#flip {
  height: 65px;
  overflow: hidden;
}

#flip > div h1 {
  color: #fff;
  padding: 4px 12px;
  height: 45px;
  margin-bottom: 45px;
  display: inline-block;
}

#flip div:first-child {
  animation: show 5s linear infinite;
}

@keyframes show {
  0% {
    margin-top: -270px;
  }
  5% {
    margin-top: -180px;
  }
  33% {
    margin-top: -180px;
  }
  38% {
    margin-top: -90px;
  }
  66% {
    margin-top: -90px;
  }
  71% {
    margin-top: 0px;
  }
  99.99% {
    margin-top: 0px;
  }
  100% {
    margin-top: -270px;
  }
}
.section-title {
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 42px;
  color: #29384e;
}
.name p {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 20px;
  color: #29384e;
}
.post-title h4 {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.005em;
  color: #29384e;
}
.post-text p {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: #546071;
}
.categori p {
  background-color: #e0efff;
  padding: 2px;
  border-radius: 15px;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 24px;
  letter-spacing: 0.005em;
  color: #007aff;
}
.date p {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 24px;
  letter-spacing: 0.005em;
  color: #29384e;
}
.read p {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 24px;
  letter-spacing: 0.005em;
  color: #29384e;
}
.desc-text .desc {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}
.new-article .title-text h5 {
  font-size: 32px;
  line-height: 42px;
  font-weight: 700;
}
.article-link {
  text-decoration: none;
}
.categori-blog p {
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 26px;
  letter-spacing: 0.005em;
  color: #29384e;
}
.accordion-custom {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.005em;
  color: #29384e;
}
.accordion-body-custom a {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.005em;
  color: #29384e;
  text-decoration: none;
}
.searchbox input:focus {
  border: none;
}
.pagination-text {
  text-decoration: none;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.02em;
  color: #007aff;
}
.banner-background {
  background: linear-gradient(
    249.77deg,
    #0094ff -1.99%,
    #007dff 43.52%,
    #026ce8 95.86%
  );
  box-shadow: 0px 32px 72px rgba(0, 87, 178, 0.16);
  border-radius: 24px;
}
.heading {
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0.0025em;
  color: #ffffff;
  margin: 24px 0px;
}
.subheading {
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.005em;
  color: #e0efff;
  margin: 24px 0px;
}
.button-custom a {
  padding: 10px 35px;
  background: #ff9800;
  box-shadow: 0px 8px 10px rgba(255, 176, 77, 0.32);
  border-radius: 40px;
  text-decoration: none;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 32px;
  letter-spacing: 0.02em;
  color: #ffffff;
}
.pagination-bar li {
  display: inline-block;
  list-style: none;
}
.pagination-bar li a {
  display: block;
  width: 54px;
  height: 54px;
  line-height: 54px;
  background-color: #fff;
  text-align: center;
  text-decoration: none;
  color: #252525;
  border-radius: 8px;
  margin: 5px;
  border: 1px solid #d9dde3;
  transition: all 0.3s ease;
}
.pagination-bar li a:hover,
.pagination-bar li a.active {
  color: #fff;
  background-color: #007aff;
}
.pagination-bar li:nth-child(5) a {
  border: none;
}
.banner-bottom {
  overflow: hidden;
  margin-top: 70px;
  background-image: url(../images/banner-bottom.svg);
}
.banner-title h2 {
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 56px;
  letter-spacing: -0.02em;
  color: #ffffff;
  text-align: center;
}
.banner-desc {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.005em;
  color: #ffffff;
  opacity: 0.72;
}
.banner-button a {
  text-decoration: none;
  font-weight: bold;
  font-size: 20px;
  line-height: 32px;
  align-items: center;
  letter-spacing: 0.02em;
  color: #ffffff;
  padding: 10px 50px;
  background: #ff9800;
  border-radius: 40px;
  box-shadow: 0px 8px 10px rgba(255, 176, 77, 0.32);
  margin-bottom: 80px;
}
